

.submit-textarea{

    border-radius: .25rem .25rem 0 0;

}

.submit-area{

    background-color: #ced4da;
    border-radius: 0 0 .25rem .25rem;

}

.btn-primary:disabled{

    background-color: gray;
    border-color: black;

}

.submit-button{
    
    margin: .25em;
    
}

.form-control:focus{
    
    box-shadow: unset !important;
    border-color: #ced4da;

}